@model Gselvageria.ViewModels.RegistroVM
@{
    ViewData["Title"] = "Registrar";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<div class="container">
    <div class="row justify-content-center my-3">
        <h1 class="display-5 text-center">GSelvageria</h1>
        <div class="col-lg-8"></div>
    </div>
</div>